.font-impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.section-1{
    background: rgb(254,202,7);
background: linear-gradient(193deg, rgba(254,202,7,1) 0%, rgba(0,0,0,1) 80%);
}
.text-sarı{
    color:rgb(254,202,7);
}
.bg{
    background-image: url('/img/bg_noise.jpg') !important;
}
#bg{
    background-image: url('/img/bg_noise.jpg') !important;
}
#bg-soluk{
    background-image: url('/img/bg_noise.jpg');
    background-color: rgba(133, 133, 133, 0.07);
}
.bg-2{
    background-color: black;
    background-image: url('/img/ısıklı-bg.png');
}
.bg-siyah{
    background-color: black;
}
.mt-6{
    margin-top:150px;
}
.ml-6{
    margin-left: 300px;
}
.ml-7{
    margin-left: 450px;
}
.text-black{
    color: black !important;
}
.buton-7{
    background-color: black;
    border-bottom: 10px solid rgba(254, 200, 7, 0.452);
    border-left: 10px solid rgba(254, 200, 7, 0.452);
    color:  rgb(254,202,7);
    font-size: 20px;
}
.buton-8{
    margin-top: 50px;
    background-color:rgb(254,202,7);
    border-bottom: 10px solid rgba(80, 63, 3, 0.452);
    border-left: 10px rgba(80, 63, 3, 0.452);
    color:  black;
    font-size: 20px;
    width: 650px;
}
.form-border{
    color: rgb(114, 109, 109) !important;
    font-size: 20px;
}
.logo-border{
    border: 3px solid white;
}
.clear-box{
    width: 1000px;
    height: 170px;
    border: 3px solid white ;
    position: relative;
    top: -50px;
}